.chat {
  display: block;
  padding: 40px;

  &-error,
  &-spinner,
  &-body {
    display: block;
  }

  &-body-item {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


